{% extends "layouts/layout.index.html" %}

{% block content %}
<div class="main">
    <div class="background"></div>
    <div class="content">
        <div class="contact">
            <h1 class="title">Country Life Residence</h1>
            <p class="text">İstanbul Caddesin’de Country Life Sitesinde Havuz cepheli, keyif dolu daireler sizleri bekliyor.</p>
            <form action="" method="get">
            <label class="inp-label"><input id="name" class="input-info" type="text" placeholder="Adınız"></label>
            <label class="inp-label"><input id="surname" class="input-info" type="text" placeholder="Soyadınız"></label>
            <label class="inp-label"><input id="mail" class="input-info" type="email" placeholder="E Posta Adresiniz"></label>
            <label class="inp-label"><input id="phone" class="input-info" type="number" placeholder="Telefon Numaranız"></label>
             <label class="container">Bilgilendirme Yazısını Okudum
                <input id="news" type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label class="container">Kampanyalardan haberdar olmak istiyorum.
                <input id="info" type="checkbox">
                <span class="checkmark"></span>
            </label>
            <a href="" class="button-a"><div class="submit-button">
                <p class="button-text">
                    Formu Gönder
                </p>
                <img src="../assets/img/message.png" class="button-img" />
            </div></a>
            </form></div>
        <div class="communication">
            <h1 class="phone">0212 322 88 19</h1>
            <p class="mail">muhasebe@countryliferesidence.com</p>
            <p class="mail">countrylifeteknik@countryliferesidence.com</p>
            <div class="social-media">
            <a href="https://www.facebook.com/CountrylifeResidence/?rf=118553211553868" target="_blank"><img src="../assets/img/face.png"></a>
            <a href="" ><img src="../assets/img/twitter.png"></a>
            <a href="https://www.instagram.com/explore/locations/265645232/country-life-residence-gokturk" target="_blank"><img src="../assets/img/instagram.png"></a>
            <a href=""><img src="../assets/img/linkedin.png"></a>
            </div>
        </div>
    </div>
    <div class="stick">
        <img class="map" src="../assets/img/map.png" alt="">
        <a target="_blank" href="https://www.google.com.tr/maps/place/Country+Life+Residence/@41.1783513,28.8844778,17z/data=!4m5!3m4!1s0x14cab2ed68f24edd:0xb83cc8950cb30d6f!8m2!3d41.1784361!4d28.8852181?hl=tr" class="mapTextLink">Haritada Görüntüle</a>
    </div>
</div>
{% endblock %}